{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Создать рассылку</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="text-danger">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-lg btn-primary px-5">Создать рассылку</button>
    </div>
  </form>
</div>
{% endblock %}
